@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #FFFFFF;
  font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}
